{% extends 'main_app/index.html'%}
{% block content %}
    <div class="container">
      {% for client in object_list %}
      {% if client.owner == user or user.is_superuser %}
        <div class="row mb-3 text-left">
          <div class="col-2 themed-grid-col">
            {{ client.id }}
          </div>
          <div class="col-4 themed-grid-col">
            Клиент:
            {{ client.last_name }}
            {{ client.first_name }}
          </div>
          <div class="col-2 themed-grid-col">
            E-mail:
            {{ client.email|truncatechars:5 }}@...
          </div>
          <div class="col-4 themed-grid-col">
            <a href="{% url 'main_app:client_detail' client.pk %}" class="icon-link">Подробнее</a>
            {% if request.user == object.owner %}
            <a href="{% url 'main_app:client_update' client.pk %}" class="icon-link">Редактировать</a>
            <a href="{% url 'main_app:client_delete' client.pk %}" class="icon-link">Удалить</a>
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
{% endblock %}