{% extends 'main_app/index.html'%}
{% block content %}
    <div class="container">
      {% for object in object_list %}
      <div class="row mb-3 text-left">
        <div class="col-1 themed-grid-col">
          {{ object.id }}
        </div>
        <div class="col-6 themed-grid-col">
          Сообщение для рассылки: {{ object.topic }}
        </div>
        <div class="col-3 themed-grid-col">
          <a href="{% url 'main_app:message_detail' object.pk %}" class="icon-link">Подробнее</a>
          <a href="{% url 'main_app:message_update' object.pk %}" class="icon-link">Редактировать</a>
          <a href="{% url 'main_app:message_delete' object.pk %}" class="icon-link">Удалить</a>
        </div>
      </div>
      {% endfor %}
    </div>
{% endblock %}